// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Global styling
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: linear-gradient(to right, #eef2f3, #8e9eab);
  background-attachment: fixed;
}

header {
  background-color: #32CD32;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 48px); // Adjust based on header height
}

.container {
  width: 95%;
  max-width: 960px;
}

// Responsive design adjustments for smaller screens
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}

// Enhancements for user interaction
a.nav-link:hover, a.nav-link:focus {
  background-color: #2E8B57;
  color: #fff;
}

// Accessibility improvements
body {
  font-size: 16px;
  color: #333;
}
